<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>About_us</title>
    <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
   
    <div class="heading">
        <h1>About Us</h1>
    </div>

        <div class="container">
           <section class="about">
            <div class="about-image">
                <img src="/static/assets/about_us_img.jpg" >
        
            </div>

            <div class="about-content">
                <p><br>There are two major classes of nutrients in food macronutrients and micronutrients.
                    Macronutrients are carbohydrates, protein, and fat. They supply energy (in the form of calories) and
                    serve as the building blocks for muscles and tissues.
                    In comparison, micronutrients are individual vitamins and minerals.
                    We have created an identification system that gives calories and nutrition intake from varying food items like vegetables, fruits, and more.
                    This system will aid in the monitoring of your health and protein intake.<br></p>
             </div>
            </section>
         </div>
         



         <div class="footer">
            <p></p>
        </div>
        <footer>
            <div class="footer-content">
                <p>&copy; 2023 Food Nutrition System. All Rights Reserved to Mr.Harsh Patil.</p>
            </div>
        </footer>
</body>
</html>